.gallery__delete {
    border: none;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.5s ease;

}

.gallery__delete:hover {
    opacity: 0.5;
  }
  