.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: auto;
  grid-gap: 20px 17px;
  width: calc(100% - 400px);
  max-width: 880px;
  margin: 51px auto 66px;
  justify-content: center;
  font-size: 0;
}

@media screen and (max-width: 1051px) {
  .gallery {
    margin: 36px auto 48px;
  }
}
