.profile__edit-avatar {
    position: relative;
}

.profile__edit-avatar::before {
    content: "";
    height: 127.5px;
    width: 127.5px;
    border-radius: 50%;
    opacity: 1;
    background-color: transparent;
    position: absolute;
    background-image: url("../../../images/pencil.svg");
    background-position: center;
    background-repeat: no-repeat;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: all .5s ease;
}

.profile__edit-avatar:hover::before {
    visibility: visible;
    background-color: black;
    opacity: 0.8;
    transition: all .5s ease;
}